html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/*Text styles normal*/

.navText {
  color: #0a113d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
}

.tabTitle {
  color: #283168;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.75px;
  font-family: 'Open Sans', sans-serif;

  @media (max-width: 991.98px) {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
  }
}

.tabTitleActive {
  font-weight: 600;
  border-bottom: 3px solid #01bba1;
  padding-bottom: 5px;
}

.title {
  color: #283168;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.75px;
  font-family: 'Open Sans', sans-serif;
}

.userDataNormal {
  color: #3d424c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.479px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}

.columnHeaderTitle {
  color: #6f7381;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
}

.cardNormal {
  color: #3d424c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}

.cardCapitalized {
  color: #3d424c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.879px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}

.cardBodyTitle {
  color: #3d424c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
}

.cardBodyBig {
  color: #3d424c;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}

.cardHeaderBigBold {
  color: #3d424c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}

.cardBodyBigBold {
  color: #3d424c;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}

/*Text styles mobile*/

.mobileBigBold {
  color: #3d424c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 163.418%;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}

.mobileNormal {
  color: #3d424c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}

.mobileNormalBold {
  color: #3d424c;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
}

.mobileLittle {
  color: #3d424c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
}

.contentContainer {
  width: 100%;
  background-color: #fafafc;
}

/*Header*/

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 12px 0px rgba(10, 17, 61, 0.1);

  @media (max-width: 991.98px) {
    height: 50px;
    justify-content: space-between;
  }
}

.navContainer {
  width: 1440px;
  height: 100%;
  padding: 0 127px 0 138px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 991.98px) {
    padding: 10px 16px;
    width: 100%;
  }
}

.logo > a > img {
  width: 130px;
  height: 34px;

  @media (max-width: 991.98px) {
    width: 114px;
    height: 30px;
  }
}

.logout {
  width: 93px;
  height: 18px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  @media (max-width: 991.98px) {
    width: 70px;
  }
}

.menu {
  width: 30px;
  height: 30px;
  background-color: #f1f2f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 992px) {
    display: none;
  }
}

.logout > img {
  width: 24.6px;
  height: 18px;
  flex-shrink: 0;
}

.logout > .text {
  @media (max-width: 991.98px) {
    display: none;
  }
}

.content {
  max-width: 1440px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;

  @media (min-width: 991.98px) {
    width: 100%;
    padding: 0 10px;
  }

  @media (min-width: 1199.98px) {
    padding: 0 100px;
  }

  @media (min-width: 1440px) {
    padding: 0 130px;
  }
}

/*Left data container*/

.userData {
  width: 303px;
  min-height: 771px;
  background-color: #fff;
  box-shadow: 0px 2px 12px 0px rgba(10, 17, 61, 0.1);
  margin-right: 25px;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.userData > .card {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.userData > .card > .card-header {
  padding: 25px 20px;
}

.card-body > .wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.wrapper > .title {
  margin-bottom: 8px;
  height: 11px;
}

.wrapper > .data {
  height: 12px;
}

/*Right data container*/

.payments {
  width: 852px;

  @media (max-width: 991.98px) {
    width: 100%;
  }
}

.payments > .options {
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: #f1f2f4 3px solid;

  @media (max-width: 991.98px) {
    justify-content: center;
    align-items: center;
  }
}

.options > .tab {
  margin-right: 23px;
  padding: 40px 0 37px;
  cursor: pointer;

  @media (max-width: 991.98px) {
    width: 93px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.options > .tab:last-child {
  margin-right: 0;
}

.paymentContainer {
  @media (max-width: 991.98px) {
    margin-top: 24px;
  }
}

.paymentContainer > .titles {
  display: flex;
  align-items: center;
  padding: 30px 24px 16px;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.paymentContainer > .titles > .id {
  width: 78px;
  margin-right: 64px;
}

.paymentContainer > .titles > .mode {
  width: 118px;
  margin-right: 35px;
}

.paymentContainer > .titles > .date {
  width: 117px;
  margin-right: 39px;
}

.paymentContainer > .titles > .value {
  width: 57px;
  margin-right: 66px;
}

.paymentContainer > .titles > .status {
  width: 58px;
}

.paymentContainer > .card {
  width: 822px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  margin-bottom: 16px;

  @media (max-width: 991.98px) {
    width: 100%;
  }
}

.paymentContainer > .card:first-child {
  margin-top: 16px;
}

.paymentContainer > .card:last-child {
  margin-bottom: 0;
}

.paymentContainer > .card > .card-header {
  width: 100%;
  height: 79px;
  background-color: #fff;
  display: flex;
  align-items: center;

  @media (max-width: 991.98px) {
    height: 102px;
    padding: 24px 26px;
  }
}

.desktopStatus > .id {
  display: flex;
  height: 11px;
  align-items: center;
  flex-shrink: 0;
  margin-right: 45px;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.id > .text {
  width: 87px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.id > button {
  padding: 0;
}

.id > button > img {
  margin-right: 8px;
}

.card-header > .mobileStatus {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 992px) {
    display: none;
  }
}

.dataContainer {
  display: flex;
}

.dataContainer > .data {
  margin-left: 20px;
}

.btn {
  padding: 0;
}

.dataContainer > .data > .date {
  white-space: nowrap;
}

.date > .attachment {
  margin-right: 0;
  height: 17px;
  width: 17px;
}

.card-header > .desktopStatus {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.desktopStatus > .payMethod {
  display: flex;
  width: 93px;
  height: 11px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 59px;

  @media (max-width: 991.98px) {
    margin-right: 0;
    width: 100%;
  }
}

.desktopStatus > .date {
  display: flex;
  width: 84px;
  height: 11px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 72px;
}

.desktopStatus > .value {
  display: flex;
  width: 74px;
  height: 12px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 50px;
}

.desktopStatus > .status {
  display: flex;
  align-items: center;
  width: 108px;
  height: 11px;
  flex-shrink: 0;
  margin-right: 28px;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.status > img {
  width: 6px;
  height: 6px;
  margin-right: 8px;
}

.attachment {
  margin-right: 32px;
}

.info {
  height: 90px;
  width: 100%;
  padding: 25px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f2f4;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.collapse > .card-body {
  padding: 0;
}

.info > .period {
  height: 42px;
  width: 169px;
  display: flex;
  flex-direction: column;
  margin-right: 116px;
}

.info > .fee {
  height: 42px;
  width: 92px;
  display: flex;
  flex-direction: column;
  margin-right: 63px;
}

.info > .accounted {
  height: 42px;
  width: 169px;
  display: flex;
  flex-direction: column;
}

.period > .title,
.fee > .title,
.accounted > .title {
  margin-bottom: 7px;
}

.card-body > .receipt {
  height: 100px;
  width: 100%;
  padding: 25px 30px;
  display: flex;
  align-items: center;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.downloads > .title {
  margin-bottom: 16px;
}

.downloads > .receipts {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.receipts > img {
  margin-right: 18px;
}

/*Mobile info*/

.infoMobile {
  display: none;

  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #f1f2f4;
    padding: 24px 16px;
  }
}

.infoMobile > .status,
.infoMobile > .id {
  margin-bottom: 24px;
}

/*Mobile receipt*/

.receiptMobile {
  display: none;

  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f1f2f4;
    padding: 24px 25px 24px 16px;
  }
}

.receiptMobile > .title {
  margin-bottom: 12px;
}

.receiptMobile > .receipts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.receiptMobile > .receipts > .receipt {
  display: flex;
  align-items: center;
}

.receiptMobile > .receipts > .receipt > img {
  margin-right: 12px;
}

/*Mobile fees*/

.feesMobile {
  display: none;

  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f1f2f4;
    padding: 24px 30px 24px 16px;
  }
}

.feesMobile > .period {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.feesMobile > .fees {
  display: flex;
  justify-content: space-between;
}
